<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--导入资源文件-->
    <context:property-placeholder location="classpath:db.properties"/>
       <!--配置c3p数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
        <property name="driverClass" value="${jdbc.driverClass}"></property>
        <property name="initialPoolSize" value="${jdbc.initPoolSize}"></property>
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>
    </bean>

    <!--配置spring 的 JdbcTemplate-->
    <bean id="jdbcTemplate"  class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--配置事务管理器-->
    <!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
        &lt;!&ndash;事物用来控制数据源&ndash;&gt;
    </bean>-->
    <!--启用事物注解-->

  <!--  <tx:annotation-driven transaction-manager="transactionManager" />-->

    <!--注意：这里面要加set方法  用<property>中的name属性关联setName方法，将property 指向的Bean set给成员变量-->
    <!--往serviceimpl里面注入jdbcTemplate-->
    <bean id="bookShopDao" class="com.txxml.BookShopDaoImpl" >
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--配置事物属性  purchase表示service里面的方法等同于给实现类里面加-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="purchase" isolation="DEFAULT" propagation="REQUIRES_NEW"/>
        </tx:attributes>

    </tx:advice>
<!--    配置事物切点，以及把事物切入点和事物属性关联起来-->
    <aop:config>
        <!--BookShopService表示作用到这个接口的所有方法上-->
        <aop:pointcut expression="execution(* com.txxml.BookShopService.*(..))"
           id="txPointCut"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>

</beans>