<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置bean-->
    <bean id="helloWorld" class="com.wuxin.HelloWorld">
        <property name="name" value="Spring"></property>
    </bean>
    <bean id="aaa" class="com.wuxin.AAA">
        <property name="height" value="176"></property>
        <property name="bbb" ref="bbb"></property>

    </bean>
    <bean id="bbb" class="com.wuxin.BBB">
        <property name="age" value="28"></property>
    </bean>
</beans>