<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

   <!-- <context:component-scan base-package="com.aop.impl"></context:component-scan>
   &lt;!&ndash; 使用aspecttj注解起作用，自动为匹配的类生成代理对象&ndash;&gt;
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>-->
    <!--配置bean-->
    <bean  id="atithmeticCalculator1"  class="com.aop.xml.AtithmeticCalculatorImpl"></bean>
    <!--配置切面bean-->
    <bean  id="LoggingAspect" class="com.aop.xml.LoggingAspect"></bean>
    <!--配置切面bean-->
    <bean  id="ValidationAspect" class="com.aop.xml.ValidationAspect"></bean>

    <!--配置aop-->
    <aop:config>
        <!--配置切点表达式  表示我要切谁  切的是某个类的具体方法-->
        <aop:pointcut expression="execution(* com.aop.xml.AtithmeticCalculator.*(int,int))" id="pointcut"/>
        <!--配置切面及通知  表示谁切，当前这个类要根据切入点进行切入-->
        <aop:aspect ref="LoggingAspect" order="2">
          <!--  <aop:before method="beforeMethod" pointcut-ref="pointcut"/>
            <aop:after method="afterMethod" pointcut-ref="pointcut"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="ex"/>
            <aop:after-returning method="afterReturning" pointcut-ref="pointcut"  returning="result"/>
        -->
            <aop:around method="aroundMethod" pointcut-ref="pointcut" ></aop:around>
        </aop:aspect>
        <!--配置切面及通知  表示谁切，当前这个类要根据切入点进行切入-->
        <aop:aspect ref="ValidationAspect" order="1">
            <aop:before method="validateAspect" pointcut-ref="pointcut"/>
        </aop:aspect>

    </aop:config>

</beans>