<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置bean
    class的全类名，通过烦着的方式在IOC容器中创建Bean
    所以要求Bean中必须有无参数的构造器
    id:应用该bean的标识
    -->
    <bean id="helloWorld" class="com.wuxin.HelloWorld">
        <property name="name" value="Spring"></property>
    </bean>
    <bean id="aaa" class="com.wuxin.AAA">
        <!--<property name="height" value="176"></property>-->
        <!--<property name="bbb" ref="bbb"></property>-->
        <!--内部bean -->
<!--        <property name="bbb">
            <bean class="com.wuxin.BBB">
                <constructor-arg value="28"></constructor-arg>
            </bean>
        </property>-->
        <constructor-arg value="180a"></constructor-arg>
        <constructor-arg ref="bbb"></constructor-arg>
        <constructor-arg ref="car"></constructor-arg>
        <property name="car.brand" value="奔驰"></property>
    </bean>
    <bean id="bbb" class="com.wuxin.BBB">
        <property name="age" value="28"></property>
    </bean>
<!--    可以使用参数的类型来区别重载构造器-->
    <bean id="car" class="com.wuxin.Car">
        <constructor-arg value="aodi" type="java.lang.String"></constructor-arg>
        <constructor-arg value="shanghai" index="1"></constructor-arg>
        <constructor-arg  index="2">
            <value>3000</value>
        </constructor-arg>
    </bean>

</beans>